.toggle.ios, .toggle-on.ios, .toggle-off.ios { border-radius: 20px;}
.toggle.ios .toggle-handle { border-radius: 20px; }
body {
  background-color: #f5f5f5;
  padding-top: 60px;
  padding-bottom: 60px;
}
h3 {
  margin-top: 40px;
  font-weight: bold;
}
.list-history {
  list-style: none;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 
              0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

.item{
  padding: 20px;
  border-bottom: grey 1px solid;
  border: grey 1.5px solid;
}
.item-content{
  font-size: 18px;
  line-height: 30px;
}
.item-content-small{
  padding-left: 30px;
  font-size: 15px;
  color: #555555;
  font-style: italic;
  line-height: 25px;
}
.setting{
  margin-top: 220px;
}
.schedule-table{
  border: grey 1.5px solid;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 
              0 25px 50px 0 rgba(0, 0, 0, 0.1);
}
.bg-green{
  background-color: green;
}
.menu-info{
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 
              0 25px 50px 0 rgba(0, 0, 0, 0.1);
}
#arc-slider {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 110px !important;
  width: 400px !important;
  border: 1px dashed;
  overflow: hidden;
  padding: 15px;
  margin-top: 35px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 
              0 25px 50px 0 rgba(0, 0, 0, 0.1);
}
#arc-slider .rs-container {
  margin-left: -240px; /* here 240 is the radius value */
  left: 50%;
}
#arc-slider .rs-tooltip {
  top: 60px;
}
#arc-slider .rs-tooltip-text {
  font-size: 25px;
}
#arc-slider .rs-border{
  border-width: 0px;
}

/* Appearance related changes */
.rs-control .rs-range-color {
  background-color: #54BBE0;
}
.rs-control .rs-path-color {
  background-color: #5f5f5f;
}
.rs-control .rs-handle {
  background-color: #51c5cf;
}

.btn-submit{
  border: none;
  border-radius: 5px;
  background-color: green;
  padding: 20px 50px;
  margin-top: 40px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.radio-button {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100px;
}

/* Hide the browser's default radio button */
.radio-button input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radio-button:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radio-button input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-button input:checked ~ .checkmark:after {
  display: block;
}
.radio-button {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-right: 25px
}

/* Hide the browser's default radio button */
.radio-button input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #ddd;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radio-button:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radio-button input:checked ~ .checkmark {
  background-color: green;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-button input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radio-button .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

.list-radio-button {
display:flex;
flex-wrap: true;
}
.radio-button .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

.list-radio-button {
  padding-top: 30px;
  padding-left: 25px;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width: 700px){
  .schedule-title{
    padding-top: 50px;
  }
  #arc-slider {
    width: 330px !important;
  }
} 

